page-list-rooms {
  ion-card, ion-item {
      background-color: #f6f6f6;
      opacity: 0.8;
      border-radius: 3px !important;
  }
  ion-icon {
    font-size: 80%;
  }
  h2 {
    font-family: 'Flamante-Serif-Medium';
    text-align: center;
  }
  p {
   font-family: 'Gotham-Thin';
   font-weight: bold;
 }
}
