page-list-rooms {
  ion-card,
  ion-item {
    border-radius: 3px !important;
  }

  .small {
    background-color: #1bcc56;
  }

  .thumbnail {
    /* width: auto !important; */
  }

  span > strong {
    color: #c1272d;
  }
}
