.toolbar-background {
    background-color: #3318d1;
}

.toolbar{
  
}

.toolbar-title {
     color: white;
}

.toolbar img{
    width: 30px;
    filter: brightness(0) invert(1);
    margin-left: 5px;
}

ion-title{
    display: inline-block;
}

.line{
    height:50%;
    border-bottom:1px solid white;
    width:100%;
    display:inline-block;
    position:absolute;top:0
}
ion-content {
    background-image: url('../../assets/img/wallpaper.jpg');
    background-size: cover;
}

page-home {
    ion-item {
        background-color: #f6f6f6;
        opacity: 0.8;
        border-radius: 3px !important;
    }
}

.action-sheet-cancel {
    color: red !important;
}

.title {
    font-size: 60px;
    color: #f7931e;
    font-family: 'Flamante-Serif-Medium';
}